.home
{
position:absolute;
background-color:#f9f9f9;
height:4900px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.frame528
{
height:518px;
width:1440px;
align-self:flex-start;
top:3837px;
left:0px;
position:absolute;
padding-left:48px;
padding-right:48px;
padding-top:104px;
padding-bottom:104px;
display:flex;
flex-direction:column;
gap:64px;
}
.frame518
{
height:56px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:104px;
left:48px;
}
.frommyblog
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Syne;
align-self:flex-start;
top:6px;
left:0px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:303px;
display:flex;
}
.button
{
background-color:#f9f9f9;
height:56px;
width:151px;
align-self:flex-start;
left:1193px;
top:0px;
position:absolute;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
}
.downloadcv
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:32px;
top:16px;
position:absolute;
width:57px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.icons
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:97px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector
{
background-color:#101010;
height:12.018386840820312px;
width:12.018388748168945px;
width:12.018388748168945px;
height:12.018386840820312px;
left:4.99px;
top:4.98px;
width:12.018388748168945px;
height:12.018386840820312px;
position:absolute;
}
.frame527
{
height:190px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:224px;
left:48px;
}
.frame526
{
background-color:#e6e6e6;
height:190px;
width:660px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
position:relative;
}
.rectangle58
{
height:190px;
width:260px;
}
.frame524
{
height:190px;
width:400px;
align-self:flex-start;
left:260px;
top:0px;
position:absolute;
padding:32px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.mentalhealthissuesofdesigners
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
align-self:flex-start;
left:32px;
top:69px;
position:absolute;
width:336px;
height:52px;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
display:flex;
}
.frame525
{
background-color:#e6e6e6;
height:190px;
width:660px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}
.rectangle582
{
height:190px;
width:260px;
}
.frame5242
{
height:190px;
width:400px;
align-self:flex-start;
left:260px;
top:0px;
position:absolute;
padding:32px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
gap:10px;
}
.mentalhealthissuesofdesigners2
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
align-self:flex-start;
left:32px;
top:69px;
position:absolute;
width:336px;
height:52px;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
display:flex;
}
.frame523
{
height:436px;
width:1440px;
align-self:flex-start;
top:70px;
left:0px;
position:absolute;
padding-left:48px;
padding-right:48px;
padding-top:64px;
padding-bottom:64px;
display:flex;
flex-direction:column;
gap:10px;
}
.frame507
{
height:308px;
width:1344px;
padding:0px;
left:48px;
top:64px;
position:relative;
}
.frame456
{
height:228px;
width:546px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:41px;
position:relative;
}
.hi-apng1
{
height:48px;
width:48px;
}
.hi,i’mimraanalam
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
top:15px;
left:0px;
position:absolute;
width:219px;
}
.designingenterprisesolutions.
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Syne;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
top:49px;
left:0px;
position:absolute;
width:546px;
}
.designeranddeveloper:iwearmanyhats.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
top:163px;
left:0px;
position:absolute;
width:318px;
}
.frame489
{
height:57px;
width:32px;
padding:0px;
display:flex;
flex-direction:column;
gap:4px;
left:599px;
top:251px;
position:relative;
}
.bi-mouse
{
background-color:#ffffff;
height:32px;
width:32px;
padding:0px;
}
.vector2
{
background-color:#101010;
height:32px;
width:20px;
width:20px;
height:32px;
left:6px;
top:0px;
position:absolute;
}
.arrow1
{
width:21px;
left:0px;
top:0px;
position:absolute;
}
.group320
{
width:660px;
height:308px;
top:0px;
left:684px;
position:absolute;
}
.rectangle71
{
height:308px;
width:660px;
border-radius:200px;
left:684px;
position:absolute;
}
.watercolor-mask-02-800px1
{
height:308px;
width:660px;
border-radius:200px;
left:684px;
position:absolute;
}
.header
{
background-color:#f9f9f9;
height:70px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
border-style:hidden;
outline:none;
top:0px;
left:0px;
}
.menu
{
height:40px;
width:220px;
align-self:flex-start;
left:1164px;
top:15px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
border-style:hidden;
outline:none;
}
.menu_item
{
height:40px;
width:92px;
padding-left:16px;
padding-right:16px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
position:relative;
border-style:hidden;
outline:none;
}
.projects
{
color:#101010;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:16px;
top:8px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
width:60px;
display:flex;
}
.menu_item2
{
height:40px;
width:63px;
align-self:flex-start;
left:92px;
top:0px;
position:absolute;
padding-left:16px;
padding-right:16px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
border-style:hidden;
outline:none;
}
.projects2
{
color:#101010;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:16px;
top:8px;
position:absolute;
width:31px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.menu_item3
{
height:40px;
width:65px;
align-self:flex-start;
left:155px;
top:0px;
position:absolute;
padding-left:16px;
padding-right:16px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
border-style:hidden;
outline:none;
}
.projects3
{
color:#101010;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:16px;
top:8px;
position:absolute;
width:33px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.logo
{
height:21.433368682861328px;
width:41.038719177246094px;
align-self:flex-start;
left:48px;
top:24px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
border-style:hidden;
outline:none;
}
.frame537
{
height:21.433368682861328px;
width:41.038719177246094px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
position:relative;
}
.im2
{
color:#101010;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Syne;
align-self:flex-start;
top:1.21px;
left:0px;
position:absolute;
letter-spacing:-11px;
line-height:80.0000011920929px;
border-style:hidden;
outline:none;
width:30px;
display:flex;
}
.group313
{
transform:rotate(0deg);
align-self:flex-start;
left:29px;
top:0px;
position:absolute;
width:12.038721084594727px;
height:21.433368682861328px;
}
.vector3
{
background-color:#101010;
height:3.761032819747925px;
width:8.758332252502441px;
width:8.758332252502441px;
height:3.761032819747925px;
left:29.42px;
top:16.7px;
width:8.758332252502441px;
height:3.761032819747925px;
position:absolute;
}
.vector4
{
background-color:#101010;
height:6.164013385772705px;
width:6.834702014923096px;
width:6.834702014923096px;
height:6.164013385772705px;
left:30.12px;
width:6.834702014923096px;
height:6.164013385772705px;
position:absolute;
}
.vector5
{
background-color:#101010;
height:3.9599039554595947px;
width:10.88595962524414px;
width:10.88595962524414px;
height:3.9599039554595947px;
left:30.22px;
top:8.1px;
width:10.88595962524414px;
height:3.9599039554595947px;
position:absolute;
}
.frame522
{
height:2112px;
width:1440px;
align-self:flex-start;
top:506px;
left:0px;
position:absolute;
padding-left:48px;
padding-right:48px;
padding-top:56px;
padding-bottom:104px;
display:flex;
flex-direction:column;
gap:64px;
}
.frame5182
{
height:56px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:56px;
left:48px;
}
.featuredprojects
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Syne;
align-self:flex-start;
top:6px;
left:0px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:393px;
display:flex;
}
.button2
{
background-color:#f9f9f9;
height:56px;
width:151px;
align-self:flex-start;
left:1193px;
top:0px;
position:absolute;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
}
.downloadcv2
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:32px;
top:16px;
position:absolute;
width:57px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.icons2
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:97px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector6
{
background-color:#101010;
height:12.018386840820312px;
width:12.018388748168945px;
width:12.018388748168945px;
height:12.018386840820312px;
left:4.99px;
top:4.98px;
width:12.018388748168945px;
height:12.018386840820312px;
position:absolute;
}
.portfolio_card
{
background-color:#e6e6e6;
height:410px;
width:1344px;
padding-right:40px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
border-style:hidden;
outline:none;
top:176px;
left:48px;
}
.rectangle40
{
height:410px;
width:660px;
}
.frame532
{
height:410px;
width:620px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.ikea–designingdashboardforsupplychainmanagement
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Syne;
top:110px;
width:620px;
height:70px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.line7
{
width:620px;
border:1px solid #161616;
top:196px;
left:0px;
position:absolute;
}
.inaworlddrivenbyconstantchangeandinnovation,theconceptoflifelonglearninghasbecomemorecriticalthanever.assomeonecommitted…
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
top:212px;
width:620px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame531
{
height:24px;
width:138px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:276px;
left:0px;
}
.projectdetails
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
width:108px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.icons3
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:116px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector7
{
background-color:#101010;
height:13.38052749633789px;
width:16.15579605102539px;
width:16.15579605102539px;
height:13.38052749633789px;
left:2.92px;
top:4.3px;
width:16.15579605102539px;
height:13.38052749633789px;
position:absolute;
}
.portfolio_card2
{
background-color:#e6e6e6;
height:410px;
width:1344px;
padding-right:40px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
border-style:hidden;
outline:none;
top:650px;
left:48px;
}
.rectangle402
{
height:410px;
width:660px;
}
.frame5322
{
height:410px;
width:620px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.ikea–designingdashboardforsupplychainmanagement2
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Syne;
top:110px;
width:620px;
height:70px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.line72
{
width:620px;
border:1px solid #161616;
top:196px;
left:0px;
position:absolute;
}
.inaworlddrivenbyconstantchangeandinnovation,theconceptoflifelonglearninghasbecomemorecriticalthanever.assomeonecommitted…2
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
top:212px;
width:620px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame5312
{
height:24px;
width:138px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:276px;
left:0px;
}
.projectdetails2
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
width:108px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.icons4
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:116px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector8
{
background-color:#101010;
height:13.38052749633789px;
width:16.15579605102539px;
width:16.15579605102539px;
height:13.38052749633789px;
left:2.92px;
top:4.3px;
width:16.15579605102539px;
height:13.38052749633789px;
position:absolute;
}
.portfolio_card3
{
background-color:#e6e6e6;
height:410px;
width:1344px;
padding-right:40px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
border-style:hidden;
outline:none;
top:1124px;
left:48px;
}
.rectangle403
{
height:410px;
width:660px;
}
.frame5323
{
height:410px;
width:620px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.ikea–designingdashboardforsupplychainmanagement3
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Syne;
top:110px;
width:620px;
height:70px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.line73
{
width:620px;
border:1px solid #161616;
top:196px;
left:0px;
position:absolute;
}
.inaworlddrivenbyconstantchangeandinnovation,theconceptoflifelonglearninghasbecomemorecriticalthanever.assomeonecommitted…3
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
top:212px;
width:620px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame5313
{
height:24px;
width:138px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:276px;
left:0px;
}
.projectdetails3
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
width:108px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.icons5
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:116px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector9
{
background-color:#101010;
height:13.38052749633789px;
width:16.15579605102539px;
width:16.15579605102539px;
height:13.38052749633789px;
left:2.92px;
top:4.3px;
width:16.15579605102539px;
height:13.38052749633789px;
position:absolute;
}
.portfolio_card4
{
background-color:#e6e6e6;
height:410px;
width:1344px;
padding-right:40px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
border-style:hidden;
outline:none;
top:1598px;
left:48px;
}
.rectangle404
{
height:410px;
width:660px;
}
.frame5324
{
height:410px;
width:620px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.ikea–designingdashboardforsupplychainmanagement4
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Syne;
top:110px;
width:620px;
height:70px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.line74
{
width:620px;
border:1px solid #161616;
top:196px;
left:0px;
position:absolute;
}
.inaworlddrivenbyconstantchangeandinnovation,theconceptoflifelonglearninghasbecomemorecriticalthanever.assomeonecommitted…4
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
top:212px;
width:620px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame5314
{
height:24px;
width:138px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:276px;
left:0px;
}
.projectdetails4
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
width:108px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.icons6
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:116px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector10
{
background-color:#101010;
height:13.38052749633789px;
width:16.15579605102539px;
width:16.15579605102539px;
height:13.38052749633789px;
left:2.92px;
top:4.3px;
width:16.15579605102539px;
height:13.38052749633789px;
position:absolute;
}
.frame520
{
background-color:#e6e6e6;
height:1219px;
width:1440px;
align-self:flex-start;
top:2618px;
left:0px;
position:absolute;
padding-left:48px;
padding-right:48px;
padding-top:104px;
padding-bottom:104px;
display:flex;
flex-direction:column;
gap:64px;
}
.frame511
{
height:423px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:138px;
position:absolute;
top:104px;
left:48px;
}
.frame499
{
height:423px;
width:660px;
padding:0px;
display:flex;
flex-direction:column;
gap:40px;
}
.aboutme
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Syne;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:217px;
}
.frame493
{
height:309.3277587890625px;
width:660px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
top:84px;
position:relative;
}
.group316
{
width:88.13534545898438px;
height:77.3277587890625px;
}
.group3132
{
transform:rotate(28deg);
width:29.996904373168945px;
height:53.40456771850586px;
left:36.2783203125px;
top:14.323612213134766px;
position:absolute;
}
.vector11
{
background-color:#161616;
height:9.371319770812988px;
width:21.823068618774414px;
width:21.823068618774414px;
height:9.371319770812988px;
left:57.08px;
top:50.39px;
width:21.823068618774414px;
height:9.371319770812988px;
position:absolute;
}
.vector12
{
background-color:#161616;
height:15.358798027038574px;
width:17.02997398376465px;
width:17.02997398376465px;
height:15.358798027038574px;
left:38.74px;
top:12.98px;
width:17.02997398376465px;
height:15.358798027038574px;
position:absolute;
}
.vector13
{
background-color:#161616;
height:9.86684513092041px;
width:27.12445831298828px;
width:27.12445831298828px;
height:9.86684513092041px;
left:48.6px;
top:30.61px;
width:27.12445831298828px;
height:9.86684513092041px;
position:absolute;
}
.frame319
{
background-color:#161616;
height:52px;
width:52px;
border-radius:293.7853088378906px;
padding:0px;
top:25.32px;
position:relative;
}
.pic01-upscale-removebg-preview1
{
height:44.676055908203125px;
width:46.140846252441406px;
left:0.732421875px;
top:0px;
position:absolute;
}
.hi,thanksforstoppingby.i’mimraanalam,aui-uxdesigner.ilovetoconnectwithothersandsharewhatiamlearning.workinginthesoftwareindustryforthepast8years.expertincreatingdesignmockups,wireframes,prototypes,andillustrations,andsettingupvisualdesignguidelines.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
line-height:150px;
border-style:hidden;
outline:none;
top:9.32px;
left:0px;
position:absolute;
width:660px;
}
.button3
{
background-color:#f9f9f9;
height:56px;
width:194px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
position:absolute;
top:169.32px;
left:0px;
}
.downloadcv3
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:32px;
top:16px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
width:100px;
display:flex;
}
.icons7
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:140px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector14
{
background-color:#101010;
height:16.15625px;
width:16.15625px;
width:16.15625px;
height:16.15625px;
left:2.92px;
top:2.92px;
width:16.15625px;
height:16.15625px;
position:absolute;
}
.frame510
{
height:423px;
width:546px;
align-self:flex-start;
left:798px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.aligningbusinessgoalswithuserneeds.
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Syne;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:546px;
}
.rectangle23
{
height:337px;
width:546px;
border-radius:200px;
top:86px;
position:absolute;
}
.frame519
{
height:324px;
width:1344px;
padding:0px;
display:flex;
flex-direction:column;
gap:40px;
left:48px;
top:591px;
position:relative;
}
.frame460
{
height:23.999984741210938px;
width:140.48060607910156px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.group3133
{
width:13.480612754821777px;
height:23.999984741210938px;
}
.vector15
{
background-color:#161616;
height:4.211406230926514px;
width:9.807119369506836px;
width:9.807119369506836px;
height:4.211406230926514px;
left:0.4762251079082489px;
top:18.706811904907227px;
position:absolute;
}
.vector16
{
background-color:#161616;
height:6.902137279510498px;
width:7.653139114379883px;
width:7.653139114379883px;
height:6.902137279510498px;
left:1.2624926567077637px;
top:0.00007009977707639337px;
position:absolute;
}
.vector17
{
background-color:#161616;
height:4.434092044830322px;
width:12.189523696899414px;
width:12.189523696899414px;
height:4.434092044830322px;
left:1.369175910949707px;
top:9.07797622680664px;
position:absolute;
}
.myexpertise
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Open Sans;
align-self:flex-start;
left:21.48px;
top:1.99px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:119px;
display:flex;
}
.frame513
{
height:260px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:63.99px;
left:0px;
}
.frame343
{
background-color:#f9f9f9;
height:260px;
width:432px;
padding-left:40px;
padding-right:40px;
padding-top:32px;
padding-bottom:32px;
display:flex;
flex-direction:column;
gap:16px;
position:absolute;
}
.blurb-001
{
height:90px;
width:90px;
left:40px;
top:32px;
position:absolute;
}
.userinterfacedesign
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
left:40px;
top:138px;
position:absolute;
width:352px;
}
.craftingintuitivedigitalexperiencesthroughvisualaestheticsandinteractiondesign.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:40px;
top:180px;
width:352px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame363
{
background-color:#f9f9f9;
height:260px;
width:432px;
align-self:flex-start;
left:456px;
top:0px;
position:absolute;
padding:32px;
display:flex;
flex-direction:column;
gap:16px;
}
.blurb-002
{
height:90px;
width:90px;
left:32px;
top:32px;
position:absolute;
}
.userexperiencedesign
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
left:32px;
top:138px;
width:368px;
height:26px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.empatheticallydesigningseamlessjourneysthatdelightusersandfulfilltheirneeds.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:32px;
top:180px;
width:368px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame364
{
background-color:#f9f9f9;
height:260px;
width:432px;
align-self:flex-start;
left:912px;
top:0px;
position:absolute;
padding:32px;
display:flex;
flex-direction:column;
gap:16px;
}
.blurb-003
{
height:90px;
width:90px;
left:32px;
top:32px;
position:absolute;
}
.frontenddevelopment
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Open Sans;
left:32px;
top:138px;
width:368px;
height:26px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.transformingdesignsintodynamic,responsivewebsiteswithcode&creativity.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:32px;
top:180px;
width:368px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame5183
{
height:135.99998474121094px;
width:1344px;
padding:0px;
display:flex;
flex-direction:column;
gap:40px;
left:48px;
top:979px;
position:relative;
}
.frame4602
{
height:23.999984741210938px;
width:157.48060607910156px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.group3134
{
width:13.480612754821777px;
height:23.999984741210938px;
}
.vector18
{
background-color:#161616;
height:4.211406230926514px;
width:9.807119369506836px;
width:9.807119369506836px;
height:4.211406230926514px;
left:0.4762251079082489px;
top:18.706811904907227px;
position:absolute;
}
.vector19
{
background-color:#161616;
height:6.902137279510498px;
width:7.653139114379883px;
width:7.653139114379883px;
height:6.902137279510498px;
left:1.2624926567077637px;
top:0.00007009977707639337px;
position:absolute;
}
.vector20
{
background-color:#161616;
height:4.434092044830322px;
width:12.189523696899414px;
width:12.189523696899414px;
height:4.434092044830322px;
left:1.369175910949707px;
top:9.07797622680664px;
position:absolute;
}
.workedfor
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Open Sans;
align-self:flex-start;
left:21.48px;
top:1.99px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
width:136px;
display:flex;
}
.frame517
{
height:72px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
top:63.99px;
left:0px;
}
._hanes
{
background-color:#f9f9f9;
height:72px;
width:204px;
padding:0px;
}
.hanes-logo1
{
background-color:#ffffff;
height:36px;
width:41.15880584716797px;
padding:0px;
left:81px;
top:18px;
position:relative;
}
.layer1
{
width:533.5458984375px;
height:92.95288848876953px;
top:0.29px;
left:0.34px;
position:absolute;
}
.g3678
{
width:42.431663513183594px;
height:35.370548248291016px;
top:35.66px;
left:0.34px;
position:absolute;
}
.clippathgroup
{
width:42.431663513183594px;
height:35.370548248291016px;
top:35.66px;
left:0.34px;
position:absolute;
}
.clippath3682
{
width:42.431663513183594px;
height:35.370548248291016px;
left:0.34px;
top:35.66px;
position:absolute;
}
.path3684
{
background-color:#000000;
height:35.370548248291016px;
width:42.431663513183594px;
width:42.431663513183594px;
height:35.370548248291016px;
left:0.34px;
top:35.66px;
width:42.431663513183594px;
height:35.370548248291016px;
position:absolute;
}
.g3680
{
width:40.3886833190918px;
height:35.23103332519531px;
top:35.61px;
left:0.38px;
position:absolute;
}
.g3686
{
width:40.3886833190918px;
height:35.23103332519531px;
left:0.38px;
top:35.61px;
position:absolute;
}
.path3688
{
background-color:#161616;
height:35.23103332519531px;
width:40.3886833190918px;
width:40.3886833190918px;
height:35.23103332519531px;
left:0.38px;
top:35.61px;
width:40.3886833190918px;
height:35.23103332519531px;
position:absolute;
}
.g3690
{
width:7.418190002441406px;
height:7.767564296722412px;
left:6.57px;
top:20.86px;
position:absolute;
}
.path3692
{
background-color:#f9f9f9;
height:7.767564296722412px;
width:7.418190002441406px;
width:7.418190002441406px;
height:7.767564296722412px;
left:6.57px;
top:20.86px;
width:7.418190002441406px;
height:7.767564296722412px;
position:absolute;
}
.g3694
{
width:5.232438087463379px;
height:5.893174171447754px;
left:14.22px;
top:21px;
position:absolute;
}
.path3696
{
background-color:#f9f9f9;
height:5.893174171447754px;
width:5.232438087463379px;
width:5.232438087463379px;
height:5.893174171447754px;
left:14.22px;
top:21px;
width:5.232438087463379px;
height:5.893174171447754px;
position:absolute;
}
.g3698
{
width:6.519248962402344px;
height:5.742545127868652px;
left:19.27px;
top:20.84px;
position:absolute;
}
.path3700
{
background-color:#f9f9f9;
height:5.742545127868652px;
width:6.519248962402344px;
width:6.519248962402344px;
height:5.742545127868652px;
left:19.27px;
top:20.84px;
width:6.519248962402344px;
height:5.742545127868652px;
position:absolute;
}
.g3702
{
width:4.965357303619385px;
height:5.890291213989258px;
left:25.67px;
top:20.98px;
position:absolute;
}
.path3704
{
background-color:#f9f9f9;
height:5.890291213989258px;
width:4.965357303619385px;
width:4.965357303619385px;
height:5.890291213989258px;
left:25.67px;
top:20.98px;
width:4.965357303619385px;
height:5.890291213989258px;
position:absolute;
}
.g3706
{
width:3.952361822128296px;
height:5.8907790184021px;
left:31.08px;
top:20.97px;
position:absolute;
}
.path3708
{
background-color:#f9f9f9;
height:5.8907790184021px;
width:3.952361822128296px;
width:3.952361822128296px;
height:5.8907790184021px;
left:31.08px;
top:20.97px;
width:3.952361822128296px;
height:5.8907790184021px;
position:absolute;
}
.g3710
{
width:1.7281038761138916px;
height:1.7059673070907593px;
left:35.32px;
top:2.64px;
position:absolute;
}
.path3712
{
background-color:#161616;
height:1.7059673070907593px;
width:1.7281038761138916px;
width:1.7281038761138916px;
height:1.7059673070907593px;
left:35.32px;
top:2.64px;
width:1.7281038761138916px;
height:1.7059673070907593px;
position:absolute;
}
.g4290
{
width:125.39940643310547px;
height:35.370548248291016px;
top:93.25px;
left:408.49px;
position:absolute;
}
.clippathgroup2
{
width:125.39940643310547px;
height:35.370548248291016px;
top:93.25px;
left:408.49px;
position:absolute;
}
.clippath4294
{
width:125.39940643310547px;
height:35.370548248291016px;
left:408.49px;
top:93.25px;
position:absolute;
}
.path4296
{
background-color:#000000;
height:35.370548248291016px;
width:125.39940643310547px;
width:125.39940643310547px;
height:35.370548248291016px;
left:408.49px;
top:93.25px;
width:125.39940643310547px;
height:35.370548248291016px;
position:absolute;
}
.g4292
{
height:100.12319946289062px;
top:125.27px;
left:379.49px;
position:absolute;
}
.g4298
{
height:100.12319946289062px;
left:379.49px;
top:125.27px;
position:absolute;
}
.path4300
{
height:100.12319946289062px;
height:100.12319946289062px;
left:379.49px;
top:125.27px;
height:100.12319946289062px;
position:absolute;
}
._ikea
{
background-color:#f9f9f9;
height:72px;
width:204px;
align-self:flex-start;
left:228px;
top:0px;
position:absolute;
padding:0px;
}
.vector21
{
background-color:#161616;
height:36px;
width:90.00001525878906px;
width:90.00001525878906px;
height:36px;
left:57px;
top:18px;
width:90.00001525878906px;
height:36px;
position:absolute;
}
._wegmans
{
background-color:#f9f9f9;
height:72px;
width:204px;
align-self:flex-start;
left:456px;
top:0px;
position:absolute;
padding:0px;
}
.vector22
{
background-color:#161616;
height:36px;
width:104.79163360595703px;
width:104.79163360595703px;
height:36px;
left:50px;
top:18px;
width:104.79163360595703px;
height:36px;
position:absolute;
}
._kaiser
{
background-color:#f9f9f9;
height:72px;
width:204px;
align-self:flex-start;
left:684px;
top:0px;
position:absolute;
padding:0px;
}
.logo3
{
width:176.47801208496094px;
height:19.636363983154297px;
left:14.14px;
top:26.18px;
position:absolute;
}
.fill-1
{
background-color:#161616;
height:9.236364364624023px;
width:2.375875949859619px;
width:2.375875949859619px;
height:9.236364364624023px;
left:26.03px;
top:31.63px;
width:2.375875949859619px;
height:9.236364364624023px;
position:absolute;
}
.fill-2
{
background-color:#161616;
height:9.432018280029297px;
width:2.654541015625px;
width:2.654541015625px;
height:9.432018280029297px;
left:23.49px;
top:31.29px;
width:2.654541015625px;
height:9.432018280029297px;
position:absolute;
}
.fill-3
{
background-color:#161616;
height:9.236364364624023px;
width:2.375875949859619px;
width:2.375875949859619px;
height:9.236364364624023px;
left:21.26px;
top:31.63px;
width:2.375875949859619px;
height:9.236364364624023px;
position:absolute;
}
.fill-4
{
background-color:#161616;
height:8.15443229675293px;
width:4.654546737670898px;
width:4.654546737670898px;
height:8.15443229675293px;
left:17.7px;
top:32.97px;
width:4.654546737670898px;
height:8.15443229675293px;
position:absolute;
}
.fill-5
{
background-color:#161616;
height:8.581818580627441px;
width:6.327276229858398px;
width:6.327276229858398px;
height:8.581818580627441px;
left:14.98px;
top:33.01px;
width:6.327276229858398px;
height:8.581818580627441px;
position:absolute;
}
.fill-6
{
background-color:#161616;
height:6.9454545974731445px;
width:4px;
width:4px;
height:6.9454545974731445px;
left:27.12px;
top:34.32px;
width:4px;
height:6.9454545974731445px;
position:absolute;
}
.fill-7
{
background-color:#161616;
height:7.381818771362305px;
width:5.854547500610352px;
width:5.854547500610352px;
height:7.381818771362305px;
left:28.14px;
top:34.32px;
width:5.854547500610352px;
height:7.381818771362305px;
position:absolute;
}
.fill-8
{
background-color:#161616;
height:7.818181991577148px;
width:6.187103271484375px;
width:6.187103271484375px;
height:7.818181991577148px;
left:14.14px;
top:34.54px;
width:6.187103271484375px;
height:7.818181991577148px;
position:absolute;
}
.fill-9
{
background-color:#161616;
height:6.872726917266846px;
width:5.863182544708252px;
width:5.863182544708252px;
height:6.872726917266846px;
left:29.2px;
top:35.59px;
width:5.863182544708252px;
height:6.872726917266846px;
position:absolute;
}
.fill-10
{
background-color:#161616;
height:5.236364364624023px;
width:5.381819248199463px;
width:5.381819248199463px;
height:5.236364364624023px;
left:14.14px;
top:38.03px;
width:5.381819248199463px;
height:5.236364364624023px;
position:absolute;
}
.fill-11
{
background-color:#161616;
height:4.909090995788574px;
width:5.090909004211426px;
width:5.090909004211426px;
height:4.909090995788574px;
left:30px;
top:38.47px;
width:5.090909004211426px;
height:4.909090995788574px;
position:absolute;
}
.fill-12
{
background-color:#161616;
height:3.1999998092651367px;
width:4.83636474609375px;
width:4.83636474609375px;
height:3.1999998092651367px;
left:14.14px;
top:41.16px;
width:4.83636474609375px;
height:3.1999998092651367px;
position:absolute;
}
.fill-13
{
background-color:#161616;
height:2.9454538822174072px;
width:4.509088516235352px;
width:4.509088516235352px;
height:2.9454538822174072px;
left:30.58px;
top:41.45px;
width:4.509088516235352px;
height:2.9454538822174072px;
position:absolute;
}
.fill-14
{
background-color:#161616;
height:2px;
width:4.7272725105285645px;
width:4.7272725105285645px;
height:2px;
left:14.14px;
top:43.63px;
width:4.7272725105285645px;
height:2px;
position:absolute;
}
.fill-15
{
background-color:#161616;
height:1.8181818723678589px;
width:4.363636493682861px;
width:4.363636493682861px;
height:1.8181818723678589px;
left:30.72px;
top:43.81px;
width:4.363636493682861px;
height:1.8181818723678589px;
position:absolute;
}
.fill-16
{
background-color:#161616;
height:4.118783473968506px;
width:4.039409637451172px;
width:4.039409637451172px;
height:4.118783473968506px;
left:29.41px;
top:29.72px;
width:4.039409637451172px;
height:4.118783473968506px;
position:absolute;
}
.fill-18
{
background-color:#161616;
height:4.227495193481445px;
width:4.1249213218688965px;
width:4.1249213218688965px;
height:4.227495193481445px;
left:15.81px;
top:28.31px;
width:4.1249213218688965px;
height:4.227495193481445px;
position:absolute;
}
.fill-19
{
background-color:#161616;
height:4.7644429206848145px;
width:4.625168323516846px;
width:4.625168323516846px;
height:4.7644429206848145px;
left:22.54px;
top:26.18px;
width:4.625168323516846px;
height:4.7644429206848145px;
position:absolute;
}
.fill-20
{
background-color:#161616;
height:11.054546356201172px;
width:1.9272682666778564px;
width:1.9272682666778564px;
height:11.054546356201172px;
left:59.67px;
top:34.47px;
width:1.9272682666778564px;
height:11.054546356201172px;
position:absolute;
}
.fill-21
{
background-color:#161616;
height:11.054546356201172px;
width:16.47272300720215px;
width:16.47272300720215px;
height:11.054546356201172px;
left:42.58px;
top:34.47px;
width:16.47272300720215px;
height:11.054546356201172px;
position:absolute;
}
.fill-22
{
background-color:#161616;
height:11.054546356201172px;
width:10.581820487976074px;
width:10.581820487976074px;
height:11.054546356201172px;
left:118.76px;
top:34.47px;
width:10.581820487976074px;
height:11.054546356201172px;
position:absolute;
}
.fill-23
{
background-color:#161616;
height:11.090909004211426px;
width:10.109086036682129px;
width:10.109086036682129px;
height:11.090909004211426px;
left:130.32px;
top:34.47px;
width:10.109086036682129px;
height:11.090909004211426px;
position:absolute;
}
.fill-24
{
background-color:#161616;
height:11.054546356201172px;
width:8.800004005432129px;
width:8.800004005432129px;
height:11.054546356201172px;
left:141.27px;
top:34.47px;
width:8.800004005432129px;
height:11.054546356201172px;
position:absolute;
}
.fill-25
{
background-color:#161616;
height:11.090909004211426px;
width:6.509099960327148px;
width:6.509099960327148px;
height:11.090909004211426px;
left:178.21px;
top:34.47px;
width:6.509099960327148px;
height:11.090909004211426px;
position:absolute;
}
.fill-26
{
background-color:#161616;
height:11.127272605895996px;
width:25.16364097595215px;
width:25.16364097595215px;
height:11.127272605895996px;
left:152.07px;
top:34.43px;
width:25.16364097595215px;
height:11.127272605895996px;
position:absolute;
}
.fill-27
{
background-color:#161616;
height:11.127273559570312px;
width:15.745450019836426px;
width:15.745450019836426px;
height:11.127273559570312px;
left:101.7px;
top:34.47px;
width:15.745450019836426px;
height:11.127273559570312px;
position:absolute;
}
.fill-28
{
background-color:#161616;
height:11.127273559570312px;
width:15.745450019836426px;
width:15.745450019836426px;
height:11.127273559570312px;
left:71.3px;
top:34.47px;
width:15.745450019836426px;
height:11.127273559570312px;
position:absolute;
}
.fill-29
{
background-color:#161616;
height:11.090909004211426px;
width:7.490911483764648px;
width:7.490911483764648px;
height:11.090909004211426px;
left:93.05px;
top:34.47px;
width:7.490911483764648px;
height:11.090909004211426px;
position:absolute;
}
.fill-30
{
background-color:#161616;
height:11.381817817687988px;
width:7.1645708084106445px;
width:7.1645708084106445px;
height:11.381817817687988px;
left:62.98px;
top:34.29px;
width:7.1645708084106445px;
height:11.381817817687988px;
position:absolute;
}
.fill-31
{
background-color:#161616;
height:4.509091377258301px;
width:4.581831455230713px;
width:4.581831455230713px;
height:4.509091377258301px;
left:186.03px;
top:41.3px;
width:4.581831455230713px;
height:4.509091377258301px;
position:absolute;
}
._scarlet
{
background-color:#f9f9f9;
height:72px;
width:204px;
align-self:flex-start;
left:912px;
top:0px;
position:absolute;
padding:0px;
}
.group42
{
background-color:#ffffff;
height:36px;
width:114.2803726196289px;
padding:0px;
left:45.35px;
top:17.5px;
position:absolute;
}
.vector23
{
background-color:#161616;
height:10.5420560836792px;
width:11.327102661132812px;
width:11.327102661132812px;
height:10.5420560836792px;
left:0px;
top:3.80841064453125px;
position:absolute;
}
.vector24
{
background-color:#161616;
height:21.869159698486328px;
width:15.02802562713623px;
width:15.02802562713623px;
height:21.869159698486328px;
left:0px;
top:0px;
position:absolute;
}
.vector25
{
background-color:#161616;
height:17.288108825683594px;
width:7.570093631744385px;
width:7.570093631744385px;
height:17.288108825683594px;
left:0px;
top:0px;
position:absolute;
}
.vector26
{
background-color:#161616;
height:10.5420560836792px;
width:16.261682510375977px;
width:16.261682510375977px;
height:10.5420560836792px;
left:0px;
top:0px;
position:absolute;
}
.vector27
{
background-color:#161616;
height:4.022019386291504px;
width:69.74085235595703px;
width:69.74085235595703px;
height:4.022019386291504px;
left:0px;
top:0px;
position:absolute;
}
.vector28
{
background-color:#161616;
height:12.533271789550781px;
width:95.82392120361328px;
width:95.82392120361328px;
height:12.533271789550781px;
left:0px;
top:1.8171958923339844px;
position:absolute;
}
.vector29
{
background-color:#161616;
height:13.206169128417969px;
width:96.49681854248047px;
width:96.49681854248047px;
height:13.206169128417969px;
left:0px;
top:1.4807472229003906px;
position:absolute;
}
._burberry
{
background-color:#f9f9f9;
height:72px;
width:204px;
align-self:flex-start;
left:1140px;
top:0px;
position:absolute;
padding:0px;
}
.vector30
{
background-color:#161616;
height:20px;
width:151px;
width:151px;
height:20px;
left:27px;
top:26px;
width:151px;
height:20px;
position:absolute;
}
.frame516
{
height:545px;
width:1440px;
align-self:flex-start;
top:4355px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
}
.frame515
{
background-color:#e6e6e6;
height:457px;
width:1440px;
padding-left:48px;
padding-right:48px;
padding-top:104px;
padding-bottom:104px;
display:flex;
flex-direction:column;
gap:64px;
position:absolute;
}
.frame533
{
height:129px;
width:691px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
left:374.5px;
top:104px;
}
.thumb-up-dynamic-clay
{
height:129px;
width:129px;
}
.frame449
{
height:129px;
width:538px;
align-self:flex-start;
left:153px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.let’sconnect
{
color:#101010;
text-align:center;
vertical-align:text-top;
font-size:48px;
font-family:Syne;
top:6px;
width:364px;
height:53px;
position:absolute;
line-height:110.00000238418579px;
border-style:hidden;
outline:none;
}
.contactmetodaytoelevateyourbrandwithintuitivedesignsthatdrivemeaningfulinteractionsandleavealastingimpactonyourusers.
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
top:75px;
width:538px;
height:48px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.frame514
{
height:56px;
width:1344px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
position:absolute;
top:297px;
left:48px;
}
.button4
{
background-color:#f9f9f9;
height:56px;
width:432px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
position:relative;
}
.downloadcv4
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:125.5px;
top:16px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
width:151px;
display:flex;
}
.icons8
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:284.5px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector31
{
background-color:#101010;
height:13.40625px;
width:17.53125px;
width:17.53125px;
height:13.40625px;
left:2.23px;
top:4.29px;
width:17.53125px;
height:13.40625px;
position:absolute;
}
.button5
{
background-color:#f9f9f9;
height:56px;
width:432px;
align-self:flex-start;
left:456px;
top:0px;
position:absolute;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
}
.downloadcv5
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:169px;
top:16px;
position:absolute;
width:64px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.icons9
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:241px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector32
{
background-color:#101010;
height:17.53125px;
width:17.53125px;
width:17.53125px;
height:17.53125px;
left:2.23px;
top:2.23px;
width:17.53125px;
height:17.53125px;
position:absolute;
}
.button6
{
background-color:#f9f9f9;
height:56px;
width:432px;
align-self:flex-start;
left:912px;
top:0px;
position:absolute;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
}
.downloadcv6
{
color:#101010;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
align-self:flex-start;
left:168.5px;
top:16px;
position:absolute;
width:65px;
height:24px;
line-height:150px;
border-style:hidden;
outline:none;
display:flex;
}
.icons10
{
background-color:#ffffff;
height:22px;
width:22px;
align-self:flex-start;
left:241.5px;
top:17px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector33
{
background-color:#101010;
height:17.531253814697266px;
width:17.531253814697266px;
width:17.531253814697266px;
height:17.531253814697266px;
left:2.23px;
top:2.23px;
width:17.531253814697266px;
height:17.531253814697266px;
position:absolute;
}
.frame443
{
background-color:#f9f9f9;
height:88px;
width:1440px;
padding-left:48px;
padding-right:48px;
padding-top:32px;
padding-bottom:32px;
display:flex;
flex-direction:column;
gap:10px;
top:457px;
position:relative;
}
.group319
{
width:1344px;
height:24px;
top:32px;
left:48px;
position:absolute;
}
.©2023–imraanalam
{
color:#161616;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:48px;
top:32px;
width:177.69232177734375px;
height:24px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.privacypolicy
{
color:#161616;
text-align:right;
vertical-align:text-top;
font-size:16px;
font-family:Open Sans;
left:1280px;
top:32px;
width:112px;
height:24px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
